@page "/squareshape"

<h1>Square</h1>

<p>Shape Type: @shapeType</p>
<p>Argument 1: @side</p>
<p>Current area: @currentArea</p>

<button class="btn btn-primary" onclick="@GetArea">Get Area</button>
<button class="btn btn-primary" onclick="@Clear">Clear</button>

@functions {
    string shapeType = "square";
    double side = 2.0;
    double currentArea = 0.0;

    private void GetArea()
    {
	    currentArea = side * side;
    }

    private void Clear()
    {
        currentArea = 0.0;
    }
    
    class Square {
        public double side = 0.0;
    }
}